/* Iphone 6 */
/* @media screen and (min-width:374px) and(max-width: 376px) and (min-height: 665px) and (max-height: 668px){
    h1 {
        font-size: 6rem;
        padding-top: 4rem;
    }
    h2 {
        font-size: 2rem;
        padding-bottom: 4.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    .button{
        padding-bottom: 20%;
    }
    .navigate {
        height: 3.5rem;
        font-size: 1rem;
        padding-bottom: 9%;
        padding-top:3%;
        text-align: center;
        font-weight: bolder;
    }
    .submit {
        width: 10rem;
        height: 3.5rem;
        font-size: 1rem;
        font-weight: bolder;
    }
    #gifSection {
        font-size: 1rem;
    }
    #giphy {
        width: 18rem;
        font-size: 0.9rem;
        height: 35px;
        margin: 0 auto;
        background-color: rgb(238, 213, 190);
    }
    #gif-button {
        font-size: 1rem;
        width: 6rem;
        height: 1.5rem;
        text-align: center;
        margin-top: 1rem;
    }
    #new-post-form {
        font-size: 1rem;
        font-weight: bolder;
    }
    #subjectCount {
        font-size: 1rem;
    }
    #inputCount {
        font-size: 1rem;
    }
    #journalInput {
        width: 20rem;
        height: 10rem;
        font-size: 1.2rem;
    }
    #subject {
        width: 12rem;
        height: 1.5rem;
        font-size: 1rem;
    }
    
    #post {
        padding-bottom: 27rem;
    }
    #postsContainer {
        height: 75rem;
        width: 100%;
    } 
}     */

/* Ipad Pro */
@media screen and (max-width: 1025px) {
    h1 {
        font-size: 13rem;
        padding-top: 14rem;
        padding-bottom: 5rem;
    }
    h2 {
        font-size: 3rem;
        padding-bottom: 10rem;
    }
    h3 {
        font-size: 3rem;
    }
    .button {
        padding-bottom: 20%;
    }
    .navigate {
        height: 1.5rem;
        font-size: 2.5rem;
        padding-bottom: 7%;
        padding-top: 3%;
        text-align: center;
        font-weight: bolder;
    }
    .submit {
        width: 15rem;
        height: 5rem;
        font-size: 2rem;
        font-weight: bolder;
        align-items: center;
    }
    #gifSection {
        font-size: 2rem;
        text-align: center;
    }
    #giphy {
        width: 30rem;
        font-size: 1.5rem;
        height: 3rem;
        margin: 0;
        background-color: rgb(238, 213, 190);
    }
    #gif-button {
        font-size: 1.5rem;
        width: 8rem;
        height: 2.5rem;
        text-align: center;
        margin-top: 1rem;
    }
    #new-post-form {
        font-size: 2rem;
        font-weight: bolder;
    }
    #subjectCount {
        font-size: 2rem;
    }
    #inputCount {
        font-size: 2rem;
    }
    #journalInput {
        width: 50rem;
        height: 20rem;
        font-size: 2.2rem;
    }
    #subject {
        width: 25rem;
        height: 2.5rem;
        font-size: 2rem;
    }
    #post {
        padding-bottom: 37rem;
    }
    #postsContainer {
        height: 75rem;
        width: 100%;
    }
}

/* Ipad */
@media screen and (max-width: 770px) {
    h1 {
        font-size: 11rem;
        padding-top: 9rem;
        padding-bottom: 3rem;
    }
    h2 {
        font-size: 2.5rem;
        padding-bottom: 10.5rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    .button {
        padding-bottom: 15%;
    }
    .navigate {
        height: 5rem;
        font-size: 1.7rem;
        padding-bottom: 3%;
        padding-top: 3%;
        text-align: center;
        font-weight: bolder;
    }
    .submit {
        width: 10rem;
        height: 3.5rem;
        font-size: 1.7rem;
        font-weight: bolder;
    }
    #gifSection {
        font-size: 2rem;
    }
    #giphy {
        width: 20rem;
        font-size: 1.5rem;
        height: 2.5rem;
        background-color: rgb(238, 213, 190);
    }
    #gif-button {
        font-size: 1.2rem;
        width: 7rem;
        height: 2rem;
        text-align: center;
        margin-top: 1rem;
    }
    #new-post-form {
        font-size: 2rem;
        font-weight: bolder;
    }
    #subjectCount {
        font-size: 1.7rem;
    }
    #inputCount {
        font-size: 1.7rem;
    }
    #journalInput {
        width: 35rem;
        height: 14rem;
        font-size: 2rem;
    }
    #subject {
        width: 22rem;
        height: 2.5rem;
        font-size: 2rem;
    }
    #post {
        padding-bottom: 27rem;
    }
    #postsContainer {
        height: 75rem;
        width: 100%;
    }
}

/* surface duo  */
@media screen and (max-width: 541px) {
    h1 {
        font-size: 8rem;
        padding-top: 7rem;
        text-align: center;
        padding-bottom: 8px;
    }
    h2 {
        font-size: 2rem;
        padding-bottom: 4rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .button {
        padding-bottom: 20%;
    }
    .navigate {
        height: 4.5rem;
        font-size: 1.2rem;
        padding-bottom: 5%;
        padding-top: 2%;
        text-align: center;
        font-weight: bolder;
        width: 10rem;
    }
    .submit {
        width: 8rem;
        height: 2.5rem;
        font-size: 1rem;
        font-weight: bolder;
    }
    #gifSection {
        font-size: 1.2rem;
    }
    #giphy {
        width: 12rem;
        font-size: 0.9rem;
        height: 35px;
        background-color: rgb(238, 213, 190);
    }
    #gif-button {
        font-size: 1rem;
        width: 6rem;
        height: 1.5rem;
        text-align: center;
        margin-top: 1rem;
    }
    #new-post-form {
        font-size: 1.2rem;
        font-weight: bolder;
    }
    #subjectCount {
        font-size: 1.1rem;
    }
    #inputCount {
        font-size: 1.1rem;
    }
    #journalInput {
        width: 23rem;
        height: 10rem;
        font-size: 1.2rem;
    }
    #subject {
        width: 15rem;
        height: 1.5rem;
        font-size: 1rem;
    }
    #post {
        padding-bottom: 27rem;
        padding-top: 5rem;
    }
    #postsContainer {
        height: 75rem;
        width: 100%;
    }
}

/* Iphone 6 plus */
@media (max-width: 415px) {
    h1 {
        font-size: 6rem;
        padding-top: 8rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    .button {
        padding-bottom: 10%;
    }
    .navigate {
        height: 3rem;
        font-size: 1rem;
        padding-bottom: 9%;
        padding-top: 3%;
        text-align: center;
        font-weight: bolder;
    }
    .submit {
        width: 7.5rem;
        height: 2.5rem;
        font-size: 0.9rem;
        font-weight: bolder;
    }
    #gifSection {
        font-size: 1.2rem;
    }
    #giphy {
        width: 12rem;
        font-size: 0.9rem;
        height: 1.6rem;
        margin: 0 auto;
        background-color: rgb(238, 213, 190);
    }
    #gif-button {
        font-size: 0.8rem;
        width: 5rem;
        height: 1.5rem;
        text-align: center;
        margin-top: 1rem;
    }
    #new-post-form {
        font-size: 1.2rem;
        font-weight: bolder;
    }
    #subjectCount {
        font-size: 1rem;
    }
    #inputCount {
        font-size: 1rem;
    }
    #journalInput {
        width: 20rem;
        height: 12rem;
        font-size: 1.3rem;
    }
    #subject {
        width: 12rem;
        height: 1.2rem;
        font-size: 1.2rem;
    }

    #post {
        padding-bottom: 27rem;
        padding-top: 4rem;
    }
    #postsContainer {
        height: 75rem;
        width: 100%;
    }
    #commentHeading {
        font-size: 1.2rem;
        margin-top: 40px;
    }
    .emoji {
        font-size: 1.2rem;
    }
}

/* Iphone X */
@media (max-width: 376px) {
    h1 {
        font-size: 5.5rem;
        padding-top: 10rem;
        text-align: center;
    }
    h2 {
        font-size: 1.6rem;
        padding-bottom: 8rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    .button {
        padding-bottom: 20%;
    }
    .navigate {
        height: 3rem;
        font-size: 1rem;
        padding-bottom: 5%;
        padding-top: 2%;
        text-align: center;
        font-weight: bolder;
    }
    .submit {
        width: 7rem;
        height: 2.8rem;
        font-size: 0.9rem;
        font-weight: bolder;
    }
    #gifSection {
        font-size: 1rem;
    }
    #giphy {
        width: 17rem;
        font-size: 0.9rem;
        height: 25px;
        background-color: rgb(238, 213, 190);
        margin: 10px;
    }
    #gif-button {
        font-size: 0.8rem;
        width: 6rem;
        height: 1.5rem;
        text-align: center;
        margin-top: 1rem;
    }
    #new-post-form {
        font-size: 1.1rem;
        font-weight: bolder;
    }
    #subjectCount {
        font-size: 1rem;
    }
    #inputCount {
        font-size: 1rem;
    }
    #journalInput {
        width: 16rem;
        height: 8rem;
        font-size: 1.2rem;
    }
    #subject {
        width: 10rem;
        height: 1.2rem;
        font-size: 1rem;
    }
    #post {
        padding-top: 8rem;
        padding-bottom: 27rem;
    }
    #postsContainer {
        height: 75rem;
        width: 100%;
    }
    #commentHeading {
        font-size: 1.2rem;
        margin-top: 40px;
    }
    .emoji {
        font-size: 1.2rem;
    }
}

/* Galaxy S5 */
@media (max-width: 361px) {
    h1 {
        font-size: 6rem;
        padding-top: 6rem;
    }
    h2 {
        font-size: 1.6rem;
        padding-bottom: 4.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    .button {
        padding-bottom: 20%;
    }
    .navigate {
        height: 3.2rem;
        font-size: 0.8rem;
        padding-bottom: 9%;
        padding-top: 3%;
        text-align: center;
        font-weight: bolder;
    }
    .submit {
        width: 5.5rem;
        height: 2.5rem;
        font-size: 0.8rem;
        font-weight: bolder;
    }
    #gifSection {
        font-size: 1rem;
    }
    #giphy {
        width: 18rem;
        font-size: 0.9rem;
        height: 22px;
        margin: 0 auto;
        background-color: rgb(238, 213, 190);
        margin: 10px;
    }
    #gif-button {
        font-size: 0.8rem;
        width: 4.5rem;
        height: 1.5rem;
        text-align: center;
        margin-top: 1rem;
    }
    #new-post-form {
        font-size: 1rem;
        font-weight: bolder;
    }
    #subjectCount {
        font-size: 0.9rem;
    }
    #inputCount {
        font-size: 0.9rem;
    }
    #journalInput {
        width: 20rem;
        height: 10rem;
        font-size: 1.2rem;
    }
    #subject {
        width: 12rem;
        height: 1.1rem;
        font-size: 1rem;
    }
    #post {
        padding-bottom: 27rem;
        padding-top: 3rem;
    }
    #postsContainer {
        height: 75rem;
        width: 100%;
    }
}

/* Galaxy Fold */
@media screen and (max-width: 281px) {
    h1 {
        font-size: 4.3rem;
        padding-top: 7rem;
        text-align: center;
    }
    h2 {
        font-size: 1.5rem;
        padding-bottom: 7rem;
    }
    h3 {
        font-size: 1rem;
    }
    .button {
        padding-bottom: 20%;
    }
    .navigate {
        height: 4rem;
        font-size: 0.8rem;
        padding-bottom: 3%;
        padding-top: 2%;
        text-align: center;
        font-weight: bolder;
    }
    .submit {
        width: 5.2rem;
        height: 2.2rem;
        font-size: 0.8rem;
        font-weight: bolder;
    }
    #gifSection {
        font-size: 0.9rem;
    }
    #giphy {
        width: 13rem;
        font-size: 0.9rem;
        height: 1.3rem;
        background-color: rgb(238, 213, 190);
        margin: 10px;
    }
    #gif-button {
        font-size: 0.7rem;
        width: 4rem;
        height: 1.2rem;
        text-align: center;
        margin-top: 1rem;
    }
    #new-post-form {
        font-size: 0.9rem;
        font-weight: bolder;
    }
    #subjectCount {
        font-size: 0.7rem;
    }
    #inputCount {
        font-size: 0.7rem;
    }
    #journalInput {
        width: 15rem;
        height: 8rem;
        font-size: 1rem;
    }
    #subject {
        width: 10rem;
        height: 1rem;
        font-size: 1rem;
    }
    #post {
        padding-bottom: 27rem;
        padding-top: 4.7rem;
    }
    #postsContainer {
        height: 75rem;
        width: 100%;
    }
    #commentHeading {
        font-size: 1.2rem;
        margin-top: 40px;
    }
    .emoji {
        font-size: 1.2rem;
    }
    .formCommentInput {
        width: 9rem;
    }
}
