@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Satisfy&display=swap");
@font-face {
    font-family: "vogue";
    src: url("vogue.ttf") format("truetype");
}

body {
    background: linear-gradient(
            rgba(255, 254, 253, 0.85),
            rgba(255, 254, 253, 0.85)
        ),
        url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-family: "vogue";
    font-size: 14rem;
    text-align: center;
    margin: 3rem 0rem;
    font-weight: 200;
    letter-spacing: -0.04em;
    color: rgb(71, 53, 53);
    opacity: 0.85;
}
h2 {
    font-family: "Satisfy", cursive;
    text-align: center;
    font-size: 2.5rem;
    height: 0px;
    font-weight: lighter;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
h3 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

.button {
    display: flex;
    justify-content: center;
}

.navigate {
    border: none;
    cursor: pointer;
    padding: 15px 28px;
    text-align: center;
    font-size: 28px;
    /* font-family: "Redressed", cursive; */
    font-family: "Montserrat", sans-serif;
    height: 60px;
    position: relative;
    margin: 20px;
    display: flex;
    border-radius: 8px;
    background-color: silver;
    transition-duration: 0.4s;
}

.navigate:hover {
    background-color: black;
    color: white;
}

#post {
    font-family: "vogue";
    letter-spacing: 0.1em;
    text-align: center;
    color: rgb(71, 53, 53);
    font-weight: 700;
    height: 700px;
    margin-top: 200px;
    margin-bottom: 100px;
    padding-top: 45px;
}

form {
    font-size: 22px;
}

#journalInput {
    background-color: rgb(238, 213, 190);
    box-shadow: tan;
}

#subject {
    background-color: rgb(238, 213, 190);
    width: 400px;
    height: 20px;
}

.submit {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    /* font-family: "Redressed", cursive; */
    font-family: "Montserrat", sans-serif;
    height: 50px;
    position: relative;
    margin-bottom: 30%;
    background-color: silver;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.submit:hover {
    background-color: black;
    color: white;
}

.gif-button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    /* font-family: "Redressed", cursive; */
    font-family: "Montserrat", sans-serif;
    height: 50px;
    position: relative;
    margin-bottom: 30%;
    background-color: silver;
    border-radius: 8px;
    transition-duration: 0.4s;
}
.gif:hover {
    background-color: black;
    color: white;
}
#entries {
    font-family: "vogue";
    letter-spacing: 0.1em;
    text-align: center;
    color: rgb(71, 53, 53);
    font-weight: 700;
    height: 800px;
    padding-top: 30px;
}

#subjectCount {
    font-size: 1rem;
}

#inputCount {
    padding-bottom: 30px;
    font-size: 1rem;
}

#gifContainer {
    height: 30px;
    display: inline-block;
}

#postsContainer {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    width: 850px;
    height: 600px;
    overflow-y: auto;
}

#giphy {
    width: 400px;
    height: 27px;
    margin: 0 auto;
    background-color: rgb(238, 213, 190);
}

#commentHeading {
    font-size: 30px;
    margin-top: 40px;
}
#commentContents,
.newCommentMessage {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 30px;
}

.formCommentInput {
    background-color: rgb(238, 213, 190);
    width: 300px;
    margin: 20px 10px 20px 0px;
    height: 20px;
}

.emoji,
.comment {
    padding: 15px 12px;
}

.imgFormat {
    max-block-size: 10rem;
    margin: 12px auto;
}
